@import '../../assets/styles/vars';
.header {
  margin-left: 20%;
  margin-right:20%;
  margin-bottom: 5%;
  top: 10px;
  width: 60%;
  height:150px;
  position: absolute;
  background-image: url("../../assets/images/me.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;

  @media #{$small} {
    top: 0px;
    height:75px;
    margin-left: 5%;
    margin-right:5%;
    width: 90%;
    font-size: $contentFontSizeSM;
  }
}

//.imageIcon{
//  position: absolute;
//  width: 35%;
//  height: 130px;
//  top: 5px;
//  left: 5%;
//  background-image: url("../../assets/images/me.png");
//  background-position: left bottom;
//  background-repeat: no-repeat;
//  background-size: contain;
//
//}

