@import '../../assets/styles/vars';
.header {
  margin-left: 20%;
  margin-right:20%;
  margin-bottom: 5%;
  top: 10px;
  width: 60%;
  height:150px;
  border: 3px solid blue;
  position: absolute;
  text-transform: uppercase;
  font-weight: $bigHeaderFontWeight;
    font-size: $bigHeaderFontSizeXL;

  @media #{$large} {
    font-size: $bigHeaderFontSizeLG;
  }
  @media #{$medium} {
    margin-left: 10%;
    margin-right:10%;
    width: 80%;
    font-size: $contentFontSizeMD;
  }
  @media #{$small} {
    height:50px;
    height:5%;
    margin-left: 5%;
    margin-right:5%;
    width: 90%;
    font-size: $contentFontSizeSM;
  }
}

.imageIcon{
  position: absolute;
  border: 3px solid red;
  width: 35%;
  height: 130px;
  top: 5px;
  left: 5%;
  background-image: url("../../assets/images/me.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
  @media #{$small} {
    display: none;

  }
}

.title{
  position: absolute;
  right: 5%;
  bottom: 10px;
  border: 3px solid #8AC007;
  @media #{$small} {
    left: 0;
  }
}

