@import '../assets/styles/vars';

//.body {
//  background-color: $bgColor;
//  font:100% $fontStack;
//  color:$fontColor;
//}


// MAIN IMAGE ANIMATION & VIDEO Display
.page{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $bgColor;
  font:100% $fontStack;
  color:$fontColor;
  resize: both;
}
.contentContainer {
  opacity: 0;
  animation-name: fadeUp;
  animation-delay: 5s;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  @keyframes fadeUp {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}




.newsLink{
  font-size: $contentFontSize;
  font-weight: $menuFontWeight;
  cursor: pointer;
  @media #{$xlarge} {
    font-size: $contentFontSizeXL;
  }
  @media #{$large} {
    font-size: $contentFontSizeLG;
  }
  @media #{$medium} {
    font-size: $contentFontSizeMD;
  }
  @media #{$small} {
    font-size: $contentFontSizeSM;
  }  &:hover{
  color:$hoverColor;
}
  &:visited{
    color:$visitColor;
  }
}
//
//div.content{
//  overflow-y: scroll;
//  height: 80%;
//  width:$contentWidth;
//  @media #{$xlarge} {
//    width:$contentWidthXL;
//  }
//  @media #{$large} {
//    width:$contentWidthLG;
//  }
//  @media #{$medium} {
//    width:$contentWidthMD;
//  }
//  @media #{$small} {
//    width:$contentWidthSM;
//  }
//  overflow-y: scroll;
//}

//
//div .contentButtonItem{
//  @include linkText;
//}
//
//div .contentExternalItem{
//  @include linkText;
//}
