@import '../assets/styles/vars';

body {
  background-color: $bgColor;
  font:100% $fontStack;
  color:$fontColor;
}

a:link{
  color: $linkColor;
}

a:hover{
  color: $hoverColor;
}

a:active{
  color: $actColor;
}

a:visited{
  color: $visitColor;
}

table{
  width: $contentWidth;
  padding: 10px;
  margin: 10px;
  @media #{$xlarge} {
    width:$contentWidthXL;
  }
  @media #{$large} {
    width:$contentWidthLG;
  }
  @media #{$medium} {
    width:$contentWidthMD;
    padding: 5px;
    margin: 5px;
  }
  @media #{$small} {
    width:$contentWidthSM;
    padding: 5px;
    margin: 5px;
  }

}


.tdSpacer{
  width:15px;
  @media #{$large} {
    width:10px;
  }
  @media #{$medium} {
    width:5px;
  }
  @media #{$small} {
    display: none;
  }
}

.tdIcon{
  width:150px;
  @media #{$large} {
    width: 100px;
  }
  @media #{$medium} {
    width:50px;
  }
  @media #{$small} {
    display: none;
  }
}

// MAIN IMAGE ANIMATION & VIDEO Display
.page{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $bgColor;
  font:100% $fontStack;
  color:$fontColor;
  resize: both;

}



.meCon{
  position: fixed;
  top: 10%;
  left: 50%;
  height:100%;
  text-align: left;
  transform: translate(-50%);
}
.icon{
  width:150px;
  height: auto;
}

.header{
  text-transform: uppercase;
  font-size: $bigHeaderFontSize;
  font-weight: $bigHeaderFontWeight;

  @media #{$xlarge} {
    font-size: $bigHeaderFontSizeXL;
  }
  @media #{$large} {
    font-size: $bigHeaderFontSizeLG;
  }
  @media #{$medium} {
    font-size: $bigHeaderFontSizeMD;
  }
  @media #{$small} {
    font-size: $bigHeaderFontSizeMD;
  }
}

.lineItem{
  font-size: $menuFontSize;
  font-weight: $menuFontWeight;
  @media #{$xlarge} {
    font-size: $menuFontSizeXL;
  }
  @media #{$large} {
    font-size: $menuFontSizeLG;
  }
  @media #{$medium} {
    font-size: $menuFontSizeMD;
  }
  @media #{$small} {
    font-size: $menuFontSizeSM;
  }
}

.menuItem{
  font-size: $menuFontSize;
  font-weight: $menuFontWeight;
  cursor: pointer;
  @media #{$xlarge} {
    font-size: $menuFontSizeXL;
  }
  @media #{$large} {
    font-size: $menuFontSizeLG;
  }
  @media #{$medium} {
    font-size: $menuFontSizeMD;
  }
  @media #{$small} {
    font-size: $menuFontSizeSM;
  }  &:hover{
  color:$hoverColor;
}
  &:visited{
    color:$visitColor;
  }
}


.newsLink{
  font-size: $contentFontSize;
  font-weight: $menuFontWeight;
  cursor: pointer;
  @media #{$xlarge} {
    font-size: $contentFontSizeXL;
  }
  @media #{$large} {
    font-size: $contentFontSizeLG;
  }
  @media #{$medium} {
    font-size: $contentFontSizeMD;
  }
  @media #{$small} {
    font-size: $contentFontSizeSM;
  }  &:hover{
  color:$hoverColor;
}
  &:visited{
    color:$visitColor;
  }
}

div.content{
  overflow-y: scroll;
  height: 80%;
  width:$contentWidth;
  @media #{$xlarge} {
    width:$contentWidthXL;
  }
  @media #{$large} {
    width:$contentWidthLG;
  }
  @media #{$medium} {
    width:$contentWidthMD;
  }
  @media #{$small} {
    width:$contentWidthSM;
  }
  overflow-y: scroll;
}

p .contentItem{
  width: 100%;
  font-size: $contentFontSize;
  font-weight: $contentFontWeight;

  @media #{$xlarge} {
    font-size: $contentFontSizeXL;
  }
  @media #{$large} {
    font-size: $contentFontSizeLG;
  }
  @media #{$medium} {
    font-size: $contentFontSizeMD;
  }
  @media #{$small} {
    font-size: $contentFontSizeSM;
  }
}

@mixin linkText{
  width: 100%;
  font-size: $contentFontSize;
  font-weight: $contentFontWeight;
  cursor:pointer;

  @media #{$xlarge} {
    font-size: $contentFontSizeXL;
  }
  @media #{$large} {
    font-size: $contentFontSizeLG;
  }
  @media #{$medium} {
    font-size: $contentFontSizeMD;
  }
  @media #{$small} {
    font-size: $contentFontSizeSM;
  }  &:hover{
  color:$hoverColor;
}
  &:visited{
    color:$visitColor;
  }
}

div .contentButtonItem{
  @include linkText;
}

div .contentExternalItem{
  @include linkText;
}
